:root {
  --clr-dark-blue: #111924;
  --clr-orange-accent: #ec9636;
  --clr-background-blue: #455c69;

  --ff-primary-font: "Montserrat", sans-serif;
  --ff-secondary-font: "Montague Slab", sans-serif;
  --fw-regular: 500;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--clr-background-blue);
  display: flex;
  width: 100vw;
  height: 100svh;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  width: 64rem;
  height: 36rem;
  align-items: flex-start;
  border-radius: 1rem;
  border: 2px solid var(--Orange-Accent, #ec9636);
  overflow: hidden;

  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;

    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }

  .content {
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: #ddd;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      flex: 1 0 0;
      align-items: stretch;

      .product-category {
        color: var(--Light-Gray, #8f8e91);
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
      .product-title {
        color: var(--Dark-Blue, #111924);
        font-family: "Montagu Slab";
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
      .product-description {
        align-self: stretch;
        color: var(--Dark-Blue, #111924);
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .product-price {
        color: var(--Dark-Blue, #111924);
        font-family: "Montagu Slab";
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .button {
      display: flex;
      padding: 1rem 0rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      align-self: stretch;
      border-radius: 0.5rem;
      border: 2px solid var(--Dark-Blue, #111924);
      background: var(--Orange-Accent, #ec9636);
      box-shadow: 2px 4px 0px 0px #000;

      .button-text {
        color: var(--Dark-Blue, #111924);
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
